@mixin flex-box($flex-property: "", $direction: "") {
  display: flex;
  align-items: center;
  justify-content: $flex-property;
  flex-direction: $direction;
}

$light-gray-color: lightgray;
$gray-color: gray;


.login_form{
  height: 100vh;
  @include flex-box(center);
  background-color:#f0f2f5fe;

  @media screen and (max-width: 680px){
    // height: 80vh;
  }

  .login_form_container{
      -webkit-box-shadow: var(--webkit-box-shadow);
      box-shadow: var(--box-shadow);
      padding: 30px;
      border-radius: 10px;
      background-color: white;
      @include flex-box("",column);

      h3{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
      }

      .login_name_field{
        @include flex-box(center);

        @media screen and (max-width: 680px){
          // flex-direction: column;
        }
      }
      
      .form_input_items{
        @include flex-box(center,column);
        align-items: flex-start;
        padding: 10px 10px 0px 10px;
        font-size: 1.2rem;
        width: 100%;
        
        label{
          color: $gray-color;
        }
   
        input{
          padding: 10px;
          border-radius: 5px;
          border: 1px solid $light-gray-color;
          font-size: 1.2rem;
          width: 100%;
          margin-top: 5px;  
        }

        input[type="date"]{
          color: $gray-color;
        }

        .error_message, span{
          color: red;
          text-transform: capitalize;
          font-size: 1rem;
        }

    //This error_alt is just used to help when errors pop up, it won't shift the elements
        .error_alt{
          visibility: hidden;
        }

        @media screen and (max-width: 680px){
          padding: 0;
          font-size: 1rem;

          input{
            font-size: 1rem;
          }
         }
    }

    button{
      padding: 10px;
      width: 200px;
      font-size: 1.2rem;
      border-radius: 10px;
      border: none;
      margin-top: 20px;
      background-color: #000000;
      color: white;
      
      &:hover{
        cursor: pointer;
        background-color: #242424;
      }
    }

    .login_option_message{
      margin-top: 20px;
      cursor: pointer;
      color: #66c4ff;
      text-decoration: underline;
    }
  }
}

