@import "../../styles/responsive.scss";

@mixin flex-box($justify-content: "") {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

.share_container{
  width: 100%;
  height: 170px;
  border-radius: 10px;
  -webkit-box-shadow: var(--webkit-box-shadow);
    box-shadow: var(--box-shadow);


  .share_wrapper{
    padding: 10px;

    .share_top{
      @include flex-box;
  
      .share_profile_img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }

      .share_input{
        width: 80%;
        border: none;
        background: none;

        &:focus{
          outline: none;
        }
      }
    }

    .share_hr{
      margin: 20px;
    }

    .share_bottom{
      @include flex-box(space-between);
      // justify-content: space-between;

      .share_options{
        display: flex;
        margin-left: 20px;

        .share_option_item{
          @include flex-box;
          margin-right: 15px;
          cursor: pointer;
          
          .share_option_text{
            font-size: 14px;
            font-weight: 500;
            margin-left: 2px;
          }
        }
      }

      button{
        padding: 7px;
        margin-right: 20px;
        height: 40px;
        width: 70px;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: bold;
        border: 2px solid white;
        background: none;
        color: white;
    
        &:hover{
          cursor: pointer;
          background-color: white;
          color:black !important;
        }

        @include sm{
          width: 60px;
          font-size: 0.8rem;
          border: 1px solid !important;
        }
      }
    }
  }
}

