@import "../../styles/responsive.scss";

.button_wrapper{
  button{
    // padding: 10px;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid white;
    background: none;
    color: white;

    @include sm{
      height: 30px;
      width: 60px;
      border: 1px solid white;
      font-size: 0.8rem;
    }

    &:hover{
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
}