.rightNavbar {
  flex: 3.5;
  height: calc(100vh - 70px);
  position: sticky;
  top: 70px;

  .rightNavbar_wrapper {
    padding: 20px;
    margin-left: 10px;
    margin-right: 3px;
    border-radius: 10px;
    -webkit-box-shadow: var(--webkit-box-shadow);
    box-shadow: var(--box-shadow);

    ul {
      margin-left: 20px;
      margin-top: 15px;
      li {
        padding: 5px 0;
      }
    }
  }

  .rightBar_online_wrapper {
    margin-top: 20px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 3px;
    border-radius: 10px;

    .online_friend_title {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 500;
    }

    .scrolltest {
      overflow-y: scroll;
    }

    .online_friend_list {
      padding: 0;
      margin: 0;
      list-style: none;

      .online_friend {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        position: relative;

        .online_friend_profile_img {
          margin-right: 10px;
        }

        .profile_img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .online_green_dot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: rgb(119, 193, 10);
          position: absolute;
          left: 0;
        }

        .online_friend_name {
          font-weight: 500;
        }
      }
    }
  }
}
