.rightNavbar{
  flex: 3.5;

  .rightNavbar_wrapper{
    padding: 20px;
    margin-left: 10px;
    // background-color: lightblue;
    border-radius: 10px;
    -webkit-box-shadow: var(--webkit-box-shadow);
    box-shadow: var(--box-shadow);


    ul{
      margin-left: 20px;
      margin-top: 15px;
      li{
        padding: 5px 0;
      }
    }
  }
}