.register_form_container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: gray;

  .register_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 1rem;
    padding: 50px;
    border: 4px solid gray;
    border-radius: 10px;
    // width: 500px;


    .form_field{
      .error_message{
        color: red;
      }

      .form_DOB_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;



        .form-input{
          width: 100px;
        }
      }
    }

    button{
      width: 300px;
      padding: 15px;
      font-size: 1.2rem;
      font-weight: 500;
      border-radius: 10px;
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
