
.register_form{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register_form_container{
      -webkit-box-shadow: var(--webkit-box-shadow);
      box-shadow: var(--box-shadow);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;
      border-radius: 10px;

      h3{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
      }

      .register_name_field{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .form_input_items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 10px 0px 10px;
        font-size: 1.2rem;
        width: 100%;
        
        input{
          padding: 10px;
          border-radius: 5px;
          border: 1px solid lightgray;
          font-size: 1.2rem;
          width: 100%;
        }

        .error_message, span{
          color: red;
        }

    //This error_alt is just used to help when errors pop up, it won't shift the elements
        .error_alt{
          visibility: hidden;
        }
    }

    button{
      padding: 10px;
      width: 200px;
      font-size: 1.2rem;
      border-radius: 10px;
      border: none;
      margin-top: 20px;
      
      &:hover{
        cursor: pointer;
        background-color: lightgray;
      }
    }
  }
}

