@mixin flex-box($justify-content: "") {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

.post_container{
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
  margin: 30px 0;
  
  .post_wrapper{
    padding: 10px;

    .post_top{
      @include flex-box(space-between);
   
      .post_top_left{
        @include flex-box;

        .post_profile_img{
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .post_user_name{
          font-size: 15px;
          font-weight: 500;
          margin: 0 10px;
        }

        .post_date{
          font-size: 12px;
        }
      }
    }

    .post_center{
      margin: 20px 0;

      .post_img{
        margin-top: 20px;
        width: 100%;
        max-height: 500px;
        object-fit: contain;
      }
    }

    .post_bottom{
      @include flex-box(space-between);
    
      .post_bottom_left{
        @include flex-box(center);

        .like_icon{
          margin-right: 5px;
          cursor: pointer;
        }

        .post_like_counter{
          font-size: 12px;
        }
      }

      .post_bottom_right{
        span{
          cursor: pointer;
          font-size: 14px;
          margin:0 5px;
          // border-bottom: 1px dashed lightgray;
        }
      }
    }
  }
}