:root {
  --topNavbar-bg-color: #222;
  --topNavbar-text-color: rgb(247, 247, 247);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(171, 81, 81);
} */

/* body::-webkit-scrollbar {
  display: none;
} */

hr {
  height: 1px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
}
